.home-page-wrapper{
    height: 1080px;
    width: 100%;
    /* display: flex; */
}

.home-page-content{
    padding: 280px 0;
    background-size: cover;
    background-image: url('homepage parallax pic.png');
    background-attachment: fixed;
    background-position: center ;
    transition: 1s;
}

#effect{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 600px;
    font-size: 35px;
    font-style: bold;
    font-style: italic;
    text-align: center;
    font-weight: 800;
    color: papayawhip;
    text-shadow: 0 2px 5px #666;
}

.hi-slide .hi-next,
.hi-slide .hi-prev{
    top: 56%;
    height: 40px;
    margin-top: -40px;
    border-radius: 50px;
    line-height: 42px;
    background-color: coral;
    font-size: 30px;
}